<div id="Tree-Diagram">
  <div class="toolbar">
    <button class="addNode pure-button" ng-click="addNewNode()">Add</button>
    <button class="editNode pure-button" ng-click="editNode()">Edit</button>
    <button class="removeNode pure-button" disabled>Remove</button>
    <button class="removeNode pure-button" disabled>Expand All</button>
    <button class="removeNode pure-button" disabled>Print</button>
  </div>
  <div class="tree-roots-elements" pane ng-class="{'tree-expand-all':treeExpandAll}">
      <div class="tree-parent tree-root tree-root-{{ element.id }}" ng-repeat="element in roots track by element.id"
           ng-class="{'has-children':nodes[element.id].hasChildren}"
           ng-include src="'./views/branch.html'"></div>
  </div>
</div>
<div id="simple-modal" ng-show="showModal" ng-click="showModal = false">
  <div class="inner-modal" ng-click="$event.stopPropagation()">
    <div ng-include="modalPath"></div>
  </div>
</div>

<!--<div id="GroupsConfirmDeleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
        <!--<h3 id="myModalLabel">Подтверждение</h3>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--<p>Вы действительно хотите удалить выбранные элементы?</p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-warning" data-dismiss="modal" aria-hidden="true" ng-click="delete_node()">Удалить</button>-->
        <!--<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Отмена</button>-->
    <!--</div>-->
<!--</div>-->
<!--<div id="GroupsPrintModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
        <!--<h3>Конфигурация для печати</h3>-->
    <!--</div>-->
    <!--<div class="modal-body" style="line-height: 34px;font-size: 16px;">-->
        <!--При масштабе <input style="width: 50px;vertical-align: top;" step="10" type="number" min="10" ng-change="zoom = pscale/100;updateScale('scale')" ng-model="pscale"/>%<br/>-->
        <!--дерево расположится на не менее чем<br/>-->
        <!--<input type="number" min="1" step="1" ng-model="lists_width" ng-change="updateScale('lists_width')" style="width: 50px;vertical-align: top;"/> листах в ширину и <input type="number" min="1" step="1" ng-model="lists_height" ng-change="updateScale('lists_height')" style="width: 50px;vertical-align: top;"/> листах в высоту.-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="printTree()">Печатать</button>-->
        <!--<button class="btn btn-warning" data-dismiss="modal" aria-hidden="true" ng-click="cancelPrintTree()">Отмена</button>-->
    <!--</div>-->
